# ===============================
# Jupyter lab extesion
# =============================== 

*.bundle.*
jupyterfair/lib/
jupyterfair/node_modules/
jupyterfair/.eslintcache
jupyterfair/.stylelintcache
*.egg-info/
jupyterfair/.ipynb_checkpoints
*.tsbuildinfo
jupyterfair/labextension
jupyterfair/jupyterfair/labextension
test-dataset/

# Created by https://www.gitignore.io/api/python
# Edit at https://www.gitignore.io/?templates=python

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
jupyterfair/build/
jupyterfair/develop-eggs/
jupyterfair/dist/
jupyterfair/downloads/
jupyterfair/eggs/
jupyterfair/.eggs/
jupyterfair/lib/
jupyterfair/lib64/
jupyterfair/parts/
jupyterfair/sdist/
jupyterfair/var/
jupyterfair/wheels/
jupyterfair/pip-wheel-metadata/
jupyterfair/share/python-wheels/
jupyterfair/.installed.cfg
*.egg
jupyterfair/MANIFEST
jupyterfair/package-lock.json

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
jupyterfair/pip-log.txt
jupyterfair/pip-delete-this-directory.txt

# Unit test / coverage reports
jupyterfair/htmlcov/
jupyterfair/.tox/
jupyterfair/.nox/
jupyterfair/.coverage
jupyterfair/.coverage.*
jupyterfair/.cache
jupyterfair/nosetests.xml
jupyterfair/coverage.xml
jupyterfair/*.cover
jupyterfair/.hypothesis/
jupyterfair/.pytest_cache/

# Translations
jupyterfair/*.mo
jupyterfair/*.pot

# Scrapy stuff:
jupyterfair/.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
jupyterfair/target/

# pyenv
jupyterfair/.python-version

# celery beat schedule file
jupyterfair/celerybeat-schedule

# ===============================
# OTHER
# ===============================
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# SageMath parsed files
*.sage.py

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# End of https://www.gitignore.io/api/python

# OSX files
.DS_Store

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

dev-notes/


# Ignore archive formats
**.zip

# Test-Data
test-dataset/